{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'banner.html' %}
   <body>
     <div class="container-fluid">
        <main class="tm-main">
            <!-- Search form -->
            <div class="row tm-row">
                <div class="col-12">
                    <form method="GET" class="form-inline tm-mb-80 tm-search-form">
                        <input class="form-control tm-search-input" name="query" type="text" placeholder="Search..." aria-label="Search">
                        <button class="tm-search-button" type="submit">
                            <i class="fas fa-search tm-search-icon" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </div>

            <div class="row tm-row">
                <div class="col-lg-8 tm-post-col">
                    <div class="tm-post-full">                    
                        <div class="mb-4">
                            <h2 class="pt-2 tm-color-primary tm-post-title">{{ publication.title }}</h2>
                            <p class="tm-mb-40">{{publication.category.name}}</p>
                            <p class="tm-mb-40">{{ publication.create_date }}</p>

                            <img src="{{ publication.image.url }}" alt="Image" class="img-fluid">

                            <p>
                                {{ publication.description }}
                            </p>
                            {% for item in publication.hashtags.all %}
                            <span class="d-block text-right tm-color-primary">Хештеги: {{item.name}}</span>
                            {% endfor %}
                        </div>
                        
                        <!-- Comments -->
                        <div>
                            <h2 class="tm-color-primary tm-post-title">Comments</h2>
                            <hr class="tm-hr-primary tm-mb-45">
                             {% for item in publication.comments.all %}
                             <div class="tm-comment-reply tm-mb-45">
                                <hr>
                                <div class="tm-comment">
                                    <figure class="tm-comment-figure">
                                        <figcaption class="tm-color-primary text-center">{{item.title}}</figcaption>
                                    </figure>
                                    <p>
                                       {{item.text}}
                                    </p>
                                </div>
                                <span class="d-block text-right tm-color-primary">{{item.created_at}}</span>
                            </div>
                            {% endfor %}
                            <form method="post" action="create-comment/" class="mb-5 tm-comment-form">
                                    	{% csrf_token %}
                                <h2 class="tm-color-primary tm-post-title mb-4">Для комментарии</h2>
                                <div class="mb-4">
                                    <input class="form-control" name="title" type="text" placeholder="Ваша имя">
                                </div>
                                <div class="mb-4">
                                    <textarea class="form-control" name="message" rows="6" placeholder="Оставить комментарии"></textarea>
                                </div>
                                <div class="text-right">
                                    <button class="tm-btn tm-btn-primary tm-btn-small">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <aside class="col-lg-4 tm-aside-col">
                    <div class="tm-post-sidebar">
                        <hr class="mb-3 tm-hr-primary">
                        <h2 class="mb-4 tm-post-title tm-color-primary">Categories</h2>
                        <ul class="tm-mb-75 pl-5 tm-category-list">
                            {% for item in category_list %}
                            <li><a href="#" class="tm-color-primary">{{item.name}}</a></li>
                            {% endfor %}
                        </ul>
                        <hr class="mb-3 tm-hr-primary">
                        <h2 class="tm-mb-40 tm-post-title tm-color-primary">Related Posts</h2>
                        <a href="#" class="d-block tm-mb-40">
                            <figure>
                                <img src="{% static 'img/img-02.jpg' %}" alt="Image" class="mb-3 img-fluid">
                                <figcaption class="tm-color-primary">Duis mollis diam nec ex viverra scelerisque a sit</figcaption>
                            </figure>
                        </a>
                        <a href="#" class="d-block tm-mb-40">
                            <figure>
                                <img src="img/img-05.jpg" alt="Image" class="mb-3 img-fluid">
                                <figcaption class="tm-color-primary">Integer quis lectus eget justo ullamcorper ullamcorper</figcaption>
                            </figure>
                        </a>
                        <a href="#" class="d-block tm-mb-40">
                            <figure>
                                <img src="img/img-06.jpg" alt="Image" class="mb-3 img-fluid">
                                <figcaption class="tm-color-primary">Nam lobortis nunc sed faucibus commodo</figcaption>
                            </figure>
                        </a>
                    </div>                    
                </aside>
            </div>
            {% include 'footer-part.html' %}
        </main>
    </div>
   </body>

{% endblock %}